<h2><%= @label %></h2>
<% @items.each do |part| %>
  <div id="contents">
    <h3><%= htmlify(part[:label]) %></h3>
    <ul>
      <% n=1 %>
      <% part[:tags].each do |tag| %>
        <li class="r<%= n %>">
        <%= link_object(tag.object, tag.object.title, nil, false) %>
        <p><%= htmlify_line(tag.text) %></p>
        <% n += 1 ; n=1 if n>2 %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


